:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

* {
  margin: 0%;
}

p {
  margin: 0;
}

div#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background: var(--background);
}

header {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

main {
  margin-top: 63px;
  max-width: calc(100% - 720px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  background: var(--form-background);
  padding: 55px 119px;
  border-radius: 4px;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.form-login__header p {
  font-family: 'Roboto';
  margin-top: 5px;
  margin-bottom: 27px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-base);
}

.form-login__header__text-and-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-login__header__text-and-icon h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--text-title);
  margin: 0px;
}

.form-login__header__text-and-icon__log-in-img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.form-login__field-email {
  color: var(--text-base);
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-family: 'Poppins';
}

.form-login__field-email__mail-focus {
  position: absolute;
  bottom: 14px;
  left: 6px;
  padding-left: 8px;
}

.form-login__field-email__input {
  border: 1px solid #868686;
  margin-top: 5px;
  border-radius: 4px;
  background: transparent;
  padding-left: 40px;
  width: 335px;
  height: 44px;
}

.form-login__field-email__input:hover {
  border: 1px solid var(--primary-color);
  -webkit-box-shadow: 0px 0px 0px 2px #FFDE88;
          box-shadow: 0px 0px 0px 2px #FFDE88;
  border-radius: 4px;
}

.form-login__field-password {
  color: var(--text-base);
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-family: 'Poppins';
}

.form-login__field-password__lock {
  position: absolute;
  bottom: 15px;
  left: 5px;
  padding-left: 9px;
}

.form-login__field-password__input {
  border: 1px solid #868686;
  margin-top: 5px;
  border-radius: 4px;
  background: transparent;
  padding-left: 40px;
  width: 335px;
  height: 44px;
}

.form-login__field-password__input:hover {
  border: 1px solid var(--primary-color);
  -webkit-box-shadow: 0px 0px 0px 2px #FFDE88;
          box-shadow: 0px 0px 0px 2px #FFDE88;
  border-radius: 4px;
}

.form-login__field-password__eye {
  position: absolute;
  right: 13px;
  bottom: 13px;
}

.form-login__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.form-login__checkbox__reminder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.form-login__checkbox__reminder::before {
  background-color: var(--form-background);
  width: 20px;
  border: 1px solid #868686;
  position: absolute;
  content: "";
  height: 20px;
  border-radius: 4px;
}

.form-login__checkbox__reminder:checked::after {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: 19px 19px;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12' viewBox='0 0 16 12' fill='none'%3E%3Cpath d='M14.6667 1L5.50004 10.1667L1.33337 6' stroke='%23473404' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.form-login__checkbox__remember-if {
  color: #A9AFB9;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  margin-left: 5px;
}

.form-login__checkbox__forgot-pass {
  color: var(--primary-color);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  margin-left: 110px;
}

.form-login__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-login__button__input {
  color: #473404;
  border: 0;
  width: 379px;
  font-family: 'Poppins';
  font-style: normal;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  background: var(--primary-color);
  padding: 12px 155px;
  border-radius: 4px;
}

.form-login__button__register {
  color: var(--primary-color);
  font-family: normal;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
}

.aside__img-side {
  max-width: 100%;
}
/*# sourceMappingURL=style.css.map */